openapi: 3.1.0
info:
  title: Outpost API
  version: "0.0.1"
  description: |
    The Outpost API is a REST-based JSON API for managing tenants, destinations, and publishing events.
  contact:
    name: Outpost Support
    email: support@hookdeck.com
    url: https://hookdeck.com/docs/outpost
servers:
  - url: https://api.outpost.hookdeck.com/2025-07-01
    description: Outpost API (production)
  - url: http://localhost:3333/api/v1
    description: Local development server base path
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      x-speakeasy-name-override: apiKey
      description: |
        Bearer token for authentication. The SDK exposes a single "apiKey" parameter; its value can be either:

        **Admin API Key:** Static key configured via the `API_KEY` environment variable.
        Required for admin operations (publishing events, managing tenants, generating tenant tokens).

        **JWT (tenant token):** Obtained via GET /tenants/{tenant_id}/token (requires Admin API Key). Valid for 24 hours, scoped to one tenant.
        Use for tenant-scoped operations (e.g. listing destinations for that tenant).
  responses:
    BadRequest:
      description: A collection of codes that generally means the end user got something wrong in making the request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BadRequest"
    Unauthorized:
      description: A collection of codes that generally means the client was not authenticated correctly for the request they want to make
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Unauthorized"
    NotFound:
      description: Status codes relating to the resource/entity they are requesting not being found or endpoints/routes not existing
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFound"
    ValidationError:
      description: Request body fails validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    InternalServerError:
      description: A collection of status codes that generally mean the server failed in an unexpected way
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InternalServerError"
    RateLimited:
      description: Status codes relating to the client being rate limited by the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimited'
    Timeout:
      description: Timeouts occurred with the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Timeout'
  schemas:
    # Shared Query Schemas
    Operator:
      type: object
      description: Comparison operators for filtering by date-time values (RFC3339 or YYYY-MM-DD format).
      properties:
        gte:
          type: string
          format: date-time
          description: Filter with value >= the specified date-time.
        lte:
          type: string
          format: date-time
          description: Filter with value <= the specified date-time.
        gt:
          type: string
          format: date-time
          description: Filter with value > the specified date-time.
        lt:
          type: string
          format: date-time
          description: Filter with value < the specified date-time.
    # Base Schemas
    Tenant:
      type: object
      properties:
        id:
          type: string
          description: User-defined system ID for the tenant.
          example: "123"
        destinations_count:
          type: integer
          description: Number of destinations associated with the tenant.
          example: 5
        topics:
          type: array
          items:
            type: string
          description: List of subscribed topics across all destinations for this tenant.
          example: ["user.created", "user.deleted"]
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary key-value pairs for storing contextual information about the tenant.
          example: {"name": "Acme Inc."}
        created_at:
          type: string
          format: date-time
          description: ISO Date when the tenant was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the tenant was last updated.
          example: "2024-01-01T00:00:00Z"
    TenantUpsert:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Optional key/value metadata to store with the tenant.
    TenantPaginatedResult:
      type: object
      description: Paginated list of tenants.
      properties:
        models:
          type: array
          items:
            $ref: "#/components/schemas/Tenant"
          description: Array of tenant objects.
        pagination:
          $ref: "#/components/schemas/SeekPagination"
        count:
          type: integer
          description: Total count of all tenants.
          example: 42
    PortalRedirect:
      type: object
      properties:
        redirect_url:
          type: string
          format: url
          description: Redirect URL containing a JWT to authenticate the user with the portal.
          example: "https://webhooks.acme.com/?token=JWT_TOKEN&tenant_id=tenant_123"
        tenant_id:
          type: string
          description: The ID of the tenant associated with this portal session.
          example: "tenant_123"
    TenantToken:
      type: object
      properties:
        token:
          type: string
          description: JWT token scoped to the tenant for safe browser API calls.
          example: "SOME_JWT_TOKEN"
        tenant_id:
          type: string
          description: The ID of the tenant this token is scoped to.
          example: "tenant_123"
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
    Topics:
      oneOf:
        - type: string
          enum: ["*"]
        - type: array
          items:
            type: string
      description: '"*" or an array of enabled topics.'
      example: "*"
    Filter:
      type: object
      nullable: true
      additionalProperties: true
      description: |
        Optional JSON schema filter for event matching. Events must match this filter to be delivered to this destination.
        Supports operators: $eq, $neq, $gt, $gte, $lt, $lte, $in, $nin, $startsWith, $endsWith, $exist, $or, $and, $not.
        If null or empty, all events matching the topic filter will be delivered.
        Uses full-replacement semantics on update: send a new object to replace, null or `{}` to clear, omit for no change.
      example:
        data:
          amount:
            $gte: 100
          customer:
            tier: "premium"
    SeekPagination:
      type: object
      description: Cursor-based pagination metadata for list responses.
      properties:
        order_by:
          type: string
          description: The field being sorted on.
          example: "created_at"
        dir:
          type: string
          enum: [asc, desc]
          description: Sort direction.
          example: "desc"
        limit:
          type: integer
          description: Page size limit.
          example: 100
        next:
          type: string
          nullable: true
          description: Cursor for the next page of results. Null if no more results.
          example: "MTcwNDA2NzIwMA=="
        prev:
          type: string
          nullable: true
          description: Cursor for the previous page of results. Null if on first page.
          example: null
    APIErrorResponse:
      type: object
      description: Standard error response format.
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 422
        message:
          type: string
          description: Human-readable error message.
          example: "validation error"
        data:
          description: Additional error details. For validation errors, this is an array of human-readable messages.
          oneOf:
            - type: array
              items:
                type: string
              description: Array of validation error messages.
              example: ["email is required", "password must be at least 6 characters"]
            - type: object
              additionalProperties: true
              description: Additional contextual data about the error.
    # Destination Type Specific Config/Credentials Schemas
    WebhookConfig:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: url
          description: The URL to send the webhook events to.
          example: "https://example.com/webhooks/user"
        custom_headers:
          type: string
          description: JSON string of custom HTTP headers to include with every webhook request. Header names must be valid HTTP header tokens (alphanumeric, hyphens, underscores). Reserved headers (Content-Type, Host, etc.) cannot be overridden.
          example: '{"x-api-key":"secret123","x-tenant-id":"customer-456"}'
    WebhookCredentials:
      type: object
      properties:
        secret:
          type: string
          description: The secret used for signing webhook requests. Auto-generated if omitted on creation by admin. Read-only for tenants unless rotating.
          example: "whsec_abc123"
        previous_secret:
          type: string
          description: The previous secret used during rotation. Valid for 24 hours by default. Read-only.
          example: "whsec_xyz789"
        previous_secret_invalid_at:
          type: string
          format: date-time
          description: ISO timestamp when the previous secret becomes invalid. Read-only.
          example: "2024-01-02T00:00:00Z"
    AWSSQSConfig:
      type: object
      required: [queue_url]
      properties:
        endpoint:
          type: string
          format: url
          description: Optional. Custom AWS endpoint URL (e.g., for LocalStack or specific regions).
          example: "https://sqs.us-east-1.amazonaws.com" # Corrected Example
        queue_url:
          type: string
          format: url # Technically an ARN/URL hybrid, but URL format is close enough
          description: The URL of the SQS queue.
          example: "https://sqs.us-east-1.amazonaws.com/123456789012/my-queue"
    AWSSQSCredentials:
      type: object
      required: [key, secret]
      properties:
        key:
          type: string
          description: AWS Access Key ID.
          example: "AKIAIOSFODNN7EXAMPLE"
        secret:
          type: string
          description: AWS Secret Access Key.
          example: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
          example: "AQoDYXdzEPT//////////wEXAMPLE..."
    RabbitMQConfig:
      type: object
      required: [server_url, exchange]
      properties:
        server_url:
          type: string
          description: RabbitMQ server address (host:port).
          example: "localhost:5672"
        exchange:
          type: string
          description: The exchange to publish messages to.
          example: "my-exchange"
        tls:
          type: string
          enum: ["true", "false"]
          description: Whether to use TLS connection (amqps). Defaults to "false".
          example: "false"
    RabbitMQCredentials:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: RabbitMQ username.
          example: "guest"
        password:
          type: string
          description: RabbitMQ password.
          example: "guest"
    HookdeckCredentials: # Hookdeck has no config fields, only credentials
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: Hookdeck authentication token.
          example: "hd_token_..."
    AWSKinesisConfig:
      type: object
      required: [stream_name, region]
      properties:
        stream_name:
          type: string
          description: The name of the AWS Kinesis stream.
          example: "my-data-stream"
        region:
          type: string
          description: The AWS region where the Kinesis stream is located.
          example: "us-east-1"
        endpoint:
          type: string
          format: url
          description: Optional. Custom AWS endpoint URL (e.g., for LocalStack or VPC endpoints).
          example: "https://kinesis.us-east-1.amazonaws.com"
        partition_key_template:
          type: string
          description: Optional. JMESPath template to extract the partition key from the event payload (e.g., `metadata."event-id"`). Defaults to event ID.
          example: 'data."user_id"'
    AWSKinesisCredentials:
      type: object
      required: [key, secret]
      properties:
        key:
          type: string
          description: AWS Access Key ID.
          example: "AKIAIOSFODNN7EXAMPLE"
        secret:
          type: string
          description: AWS Secret Access Key.
          example: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
          example: "AQoDYXdzEPT//////////wEXAMPLE..."
    AzureServiceBusConfig:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: The name of the Azure Service Bus queue or topic to publish messages to.
          example: "my-queue-or-topic"
    AzureServiceBusCredentials:
      type: object
      required: [connection_string]
      properties:
        connection_string:
          type: string
          description: The connection string for the Azure Service Bus namespace.
          example: "Endpoint=sb://namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=abc123"
    AWSS3Config:
      type: object
      required: [bucket, region]
      properties:
        bucket:
          type: string
          description: The name of your AWS S3 bucket.
          example: "my-bucket"
        region:
          type: string
          description: The AWS region where your bucket is located.
          pattern: "^[a-z]{2}-[a-z]+-[0-9]+$"
          example: "us-east-1"
        key_template:
          type: string
          description: JMESPath expression for generating S3 object keys. Default is join('', [time.rfc3339_nano, '_', metadata."event-id", '.json']).
          example: 'join(''/'', [time.year, time.month, time.day, metadata."event-id", ''.json''])'
        storage_class:
          type: string
          description: The storage class for the S3 objects (e.g., STANDARD, INTELLIGENT_TIERING, GLACIER, etc.). Defaults to "STANDARD".
          example: "STANDARD"
    AWSS3Credentials:
      type: object
      required: [key, secret]
      properties:
        key:
          type: string
          description: AWS Access Key ID.
          example: "AKIAIOSFODNN7EXAMPLE"
        secret:
          type: string
          description: AWS Secret Access Key.
          example: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
          example: "AQoDYXdzEPT//////////wEXAMPLE..."
    GCPPubSubConfig:
      type: object
      required: [project_id, topic]
      properties:
        project_id:
          type: string
          description: The GCP project ID.
          example: "my-project-123"
        topic:
          type: string
          description: The Pub/Sub topic name.
          example: "events-topic"
        endpoint:
          type: string
          description: Optional. Custom endpoint URL (e.g., localhost:8085 for emulator).
          example: "pubsub.googleapis.com:443"
    GCPPubSubCredentials:
      type: object
      required: [service_account_json]
      properties:
        service_account_json:
          type: string
          description: Service account key JSON. The entire JSON key file content as a string.
          example: '{"type":"service_account","project_id":"my-project","private_key_id":"key123","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"my-service@my-project.iam.gserviceaccount.com"}'
    KafkaConfig:
      type: object
      required: [brokers, topic, sasl_mechanism]
      properties:
        brokers:
          type: string
          description: Comma-separated list of Kafka broker addresses.
          example: "broker1.example.com:9092,broker2.example.com:9092"
        topic:
          type: string
          description: The Kafka topic to publish messages to.
          example: "events"
        sasl_mechanism:
          type: string
          enum: [plain, scram-sha-256, scram-sha-512]
          description: SASL authentication mechanism.
          example: "scram-sha-256"
        tls:
          type: string
          enum: ["true", "false"]
          description: Whether to enable TLS for the connection.
          default: "true"
          example: "true"
        partition_key_template:
          type: string
          description: Optional JMESPath template to extract the partition key from the event payload. Defaults to the event ID.
          example: "data.customer_id"
    KafkaCredentials:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: SASL username for authentication.
          example: "outpost"
        password:
          type: string
          description: SASL password for authentication.
          example: "secure_password_123"
    # Type-Specific Destination Schemas (for Responses)
    DestinationWebhook:
      type: object
      x-docs-type: "Webhook"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, config, credentials, created_at, updated_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [webhook]
          example: "webhook"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/WebhookConfig"
        credentials:
          $ref: "#/components/schemas/WebhookCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (e.g., URL host). Read-only.
          readOnly: true
          example: "my-service.com"
        target_url:
          type: string
          format: url
          nullable: true # Should always have a URL for webhook
          description: A URL link to the destination target (the webhook URL). Read-only.
          readOnly: true
          example: "https://my-service.com/webhook/handler"
      example:
        id: "des_webhook_123"
        type: "webhook"
        topics: ["user.created", "order.shipped"]
        disabled_at: null
        created_at: "2024-02-15T10:00:00Z"
        updated_at: "2024-02-15T10:00:00Z"
        config:
          url: "https://my-service.com/webhook/handler"
        credentials:
          secret: "whsec_abc123def456"
          previous_secret: "whsec_prev789xyz012"
          previous_secret_invalid_at: "2024-02-16T10:00:00Z"
    DestinationAWSSQS:
      type: object
      x-docs-type: "AWS SQS"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, config, credentials, created_at, updated_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [aws_sqs]
          example: "aws_sqs"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AWSSQSConfig"
        credentials:
          $ref: "#/components/schemas/AWSSQSCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (SQS queue name). Read-only.
          readOnly: true
          example: "my-app-queue"
        target_url:
          type: string
          format: url
          nullable: true # Can construct AWS console URL
          description: A URL link to the destination target (AWS Console link to the queue). Read-only.
          readOnly: true
          example: "https://us-west-2.console.aws.amazon.com/sqs/v2/home?region=us-west-2#/queues/https%3A%2F%2Fsqs.us-west-2.amazonaws.com%2F123456789012%2Fmy-app-queue"
      example:
        id: "des_sqs_456"
        type: "aws_sqs"
        topics: ["*"]
        disabled_at: "2024-03-01T12:00:00Z"
        created_at: "2024-02-20T11:30:00Z"
        updated_at: "2024-02-20T11:30:00Z"
        config:
          queue_url: "https://sqs.us-west-2.amazonaws.com/123456789012/my-app-queue"
          endpoint: "https://sqs.us-west-2.amazonaws.com"
        credentials:
          key: "AKIAIOSFODNN7EXAMPLE"
          secret: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
    DestinationRabbitMQ:
      type: object
      x-docs-type: "RabbitMQ"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, config, credentials, created_at, updated_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [rabbitmq]
          example: "rabbitmq"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/RabbitMQConfig"
        credentials:
          $ref: "#/components/schemas/RabbitMQCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (RabbitMQ exchange). Read-only.
          readOnly: true
          example: "events-exchange"
        target_url:
          type: string
          format: url
          nullable: true # No direct URL for an exchange
          description: A URL link to the destination target (not applicable for RabbitMQ exchange). Read-only.
          readOnly: true
          example: null
      example:
        id: "des_rmq_789"
        type: "rabbitmq"
        topics: ["inventory.updated"]
        disabled_at: null
        created_at: "2024-01-10T09:00:00Z"
        updated_at: "2024-01-10T09:00:00Z"
        config:
          server_url: "amqp.cloudamqp.com:5671"
          exchange: "events-exchange"
          tls: "true"
        credentials:
          username: "app_user"
          password: "secure_password_123"
    DestinationHookdeck:
      type: object
      x-docs-type: "Hookdeck Event Gateway"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, credentials, created_at, disabled_at] # No config
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [hookdeck]
          example: "hookdeck"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config: {} # Empty config
        credentials:
          $ref: "#/components/schemas/HookdeckCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (Hookdeck). Read-only.
          readOnly: true
          example: "Hookdeck"
        target_url:
          type: string
          format: url
          nullable: true # Link to Hookdeck dashboard? TBD
          description: A URL link to the destination target (e.g., Hookdeck dashboard). Read-only.
          readOnly: true
          example: "https://dashboard.hookdeck.com/sources/src_xxxyyyzzz"
      example:
        id: "des_hkd_abc"
        type: "hookdeck"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-04-01T10:00:00Z"
        updated_at: "2024-04-01T10:00:00Z"
        config: {}
        credentials:
          token: "hd_token_..."
    DestinationAWSKinesis:
      type: object
      x-docs-type: "AWS Kinesis"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, config, credentials, created_at, updated_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [aws_kinesis]
          example: "aws_kinesis"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AWSKinesisConfig"
        credentials:
          $ref: "#/components/schemas/AWSKinesisCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (Kinesis stream name). Read-only.
          readOnly: true
          example: "production-events"
        target_url:
          type: string
          format: url
          nullable: true # Can construct AWS console URL
          description: A URL link to the destination target (AWS Console link to the stream). Read-only.
          readOnly: true
          example: "https://eu-west-1.console.aws.amazon.com/kinesis/home?region=eu-west-1#/streams/details/production-events/details"
      example:
        id: "des_kns_xyz"
        type: "aws_kinesis"
        topics: ["user.created", "user.updated"]
        disabled_at: null
        created_at: "2024-03-10T15:30:00Z"
        updated_at: "2024-03-10T15:30:00Z"
        config:
          stream_name: "production-events"
          region: "eu-west-1"
        credentials:
          key: "AKIAIOSFODNN7EXAMPLE"
          secret: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
    DestinationAzureServiceBus:
      type: object
      x-docs-type: "Azure Service Bus"
      required: [id, type, topics, config, credentials, created_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [azure_servicebus]
          example: "azure_servicebus"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AzureServiceBusConfig"
        credentials:
          $ref: "#/components/schemas/AzureServiceBusCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (Azure Service Bus queue/topic name). Read-only.
          readOnly: true
          example: "my-queue-or-topic"
        target_url:
          type: string
          format: url
          nullable: true # Can construct Azure portal URL
          description: A URL link to the destination target (Azure Portal link to the Service Bus). Read-only.
          readOnly: true
          example: "https://portal.azure.com/#@tenant-id/resource/subscriptions/subscription-id/resourceGroups/resource-group/providers/Microsoft.ServiceBus/namespaces/namespace-name/queues/queue-name"
      example:
        id: "des_azuresb_123"
        type: "azure_servicebus"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-05-01T10:00:00Z"
        updated_at: "2024-05-01T10:00:00Z"
        config:
          name: "my-queue-or-topic"
        credentials:
          connection_string: "Endpoint=sb://namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=abc123"
    DestinationAWSS3:
      type: object
      x-docs-type: "AWS S3"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, config, credentials, created_at, updated_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [aws_s3]
          example: "aws_s3"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AWSS3Config"
        credentials:
          $ref: "#/components/schemas/AWSS3Credentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (bucket and region). Read-only.
          readOnly: true
          example: "my-bucket in us-east-1"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the destination target (AWS Console link to the bucket). Read-only.
          readOnly: true
          example: null
      example:
        id: "des_s3_789"
        type: "aws_s3"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-03-20T12:00:00Z"
        updated_at: "2024-03-20T12:00:00Z"
        config:
          bucket: "my-bucket"
          region: "us-east-1"
        credentials:
          key: "AKIAIOSFODNN7EXAMPLE"
          secret: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
    DestinationGCPPubSub:
      type: object
      x-docs-type: "GCP PubSub"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, config, credentials, created_at, updated_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [gcp_pubsub]
          example: "gcp_pubsub"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/GCPPubSubConfig"
        credentials:
          $ref: "#/components/schemas/GCPPubSubCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (project/topic). Read-only.
          readOnly: true
          example: "my-project-123/events-topic"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the destination target (GCP Console link to the topic). Read-only.
          readOnly: true
          example: "https://console.cloud.google.com/cloudpubsub/topic/detail/events-topic?project=my-project-123"
      example:
        id: "des_gcp_pubsub_123"
        type: "gcp_pubsub"
        topics: ["order.created", "order.updated"]
        disabled_at: null
        created_at: "2024-03-10T14:30:00Z"
        updated_at: "2024-03-10T14:30:00Z"
        config:
          project_id: "my-project-123"
          topic: "events-topic"
        credentials:
          service_account_json: '{"type":"service_account","project_id":"my-project-123",...}'
    DestinationKafka:
      type: object
      x-docs-type: "Apache Kafka"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, config, credentials, created_at, updated_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [kafka]
          example: "kafka"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/KafkaConfig"
        credentials:
          $ref: "#/components/schemas/KafkaCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
        target:
          type: string
          description: A human-readable representation of the destination target (broker and topic). Read-only.
          readOnly: true
          example: "broker1.example.com:9092 / events"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the destination target. Read-only.
          readOnly: true
          example: null
      example:
        id: "des_kafka_123"
        type: "kafka"
        topics: ["order.created", "order.updated"]
        disabled_at: null
        created_at: "2024-03-10T14:30:00Z"
        updated_at: "2024-03-10T14:30:00Z"
        config:
          brokers: "broker1.example.com:9092,broker2.example.com:9092"
          topic: "events"
          sasl_mechanism: "scram-sha-256"
          tls: "true"
        credentials:
          username: "outpost"
          password: "secure_password_123"
    # Polymorphic Destination Schema (for Responses)
    Destination:
      oneOf:
        - $ref: "#/components/schemas/DestinationWebhook"
        - $ref: "#/components/schemas/DestinationHookdeck"
        - $ref: "#/components/schemas/DestinationAWSSQS"
        - $ref: "#/components/schemas/DestinationAWSKinesis"
        - $ref: "#/components/schemas/DestinationAWSS3"
        - $ref: "#/components/schemas/DestinationRabbitMQ"
        - $ref: "#/components/schemas/DestinationAzureServiceBus"
        - $ref: "#/components/schemas/DestinationGCPPubSub"
        - $ref: "#/components/schemas/DestinationKafka"
      discriminator:
        propertyName: type
        mapping:
          webhook: "#/components/schemas/DestinationWebhook"
          aws_sqs: "#/components/schemas/DestinationAWSSQS"
          rabbitmq: "#/components/schemas/DestinationRabbitMQ"
          hookdeck: "#/components/schemas/DestinationHookdeck"
          aws_kinesis: "#/components/schemas/DestinationAWSKinesis"
          azure_servicebus: "#/components/schemas/DestinationAzureServiceBus"
          aws_s3: "#/components/schemas/DestinationAWSS3"
          gcp_pubsub: "#/components/schemas/DestinationGCPPubSub"
          kafka: "#/components/schemas/DestinationKafka"
    DestinationCreateWebhook:
      type: object
      x-docs-type: "Webhook"
      required: [type, topics, config]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'webhook'.
          enum: [webhook]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/WebhookConfig"
        credentials:
          # Secret is optional on create for admin, forbidden for tenant
          $ref: "#/components/schemas/WebhookCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateAWSSQS:
      type: object
      x-docs-type: "AWS SQS"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'aws_sqs'.
          enum: [aws_sqs]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSSQSConfig"
        credentials:
          $ref: "#/components/schemas/AWSSQSCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateRabbitMQ:
      type: object
      x-docs-type: "RabbitMQ"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'rabbitmq'.
          enum: [rabbitmq]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/RabbitMQConfig"
        credentials:
          $ref: "#/components/schemas/RabbitMQCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateHookdeck:
      type: object
      x-docs-type: "Hookdeck Event Gateway"
      required: [type, topics, credentials] # No config
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'hookdeck'.
          enum: [hookdeck]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config: {}
        credentials:
          $ref: "#/components/schemas/HookdeckCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateAWSKinesis:
      type: object
      x-docs-type: "AWS Kinesis"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'aws_kinesis'.
          enum: [aws_kinesis]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSKinesisConfig"
        credentials:
          $ref: "#/components/schemas/AWSKinesisCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateAzureServiceBus:
      type: object
      x-docs-type: "Azure Service Bus"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'azure_servicebus'.
          enum: [azure_servicebus]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AzureServiceBusConfig"
        credentials:
          $ref: "#/components/schemas/AzureServiceBusCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateAWSS3:
      type: object
      x-docs-type: "AWS S3"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'aws_s3'.
          enum: [aws_s3]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSS3Config"
        credentials:
          $ref: "#/components/schemas/AWSS3Credentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateGCPPubSub:
      type: object
      x-docs-type: "GCP PubSub"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'gcp_pubsub'.
          enum: [gcp_pubsub]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/GCPPubSubConfig"
        credentials:
          $ref: "#/components/schemas/GCPPubSubCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    DestinationCreateKafka:
      type: object
      x-docs-type: "Apache Kafka"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'kafka'.
          enum: [kafka]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/KafkaConfig"
        credentials:
          $ref: "#/components/schemas/KafkaCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: {"internal-id": "123", "team": "platform"}
    # Polymorphic Destination Creation Schema (for Request Bodies)
    DestinationCreate:
      oneOf:
        - $ref: "#/components/schemas/DestinationCreateWebhook"
        - $ref: "#/components/schemas/DestinationCreateHookdeck"
        - $ref: "#/components/schemas/DestinationCreateAWSSQS"
        - $ref: "#/components/schemas/DestinationCreateAWSKinesis"
        - $ref: "#/components/schemas/DestinationCreateAWSS3"
        - $ref: "#/components/schemas/DestinationCreateAzureServiceBus"
        - $ref: "#/components/schemas/DestinationCreateRabbitMQ"
        - $ref: "#/components/schemas/DestinationCreateGCPPubSub"
        - $ref: "#/components/schemas/DestinationCreateKafka"
      discriminator:
        propertyName: type
        mapping:
          webhook: "#/components/schemas/DestinationCreateWebhook"
          aws_sqs: "#/components/schemas/DestinationCreateAWSSQS"
          rabbitmq: "#/components/schemas/DestinationCreateRabbitMQ"
          hookdeck: "#/components/schemas/DestinationCreateHookdeck"
          aws_kinesis: "#/components/schemas/DestinationCreateAWSKinesis"
          azure_servicebus: "#/components/schemas/DestinationCreateAzureServiceBus"
          aws_s3: "#/components/schemas/DestinationCreateAWSS3"
          gcp_pubsub: "#/components/schemas/DestinationCreateGCPPubSub"
          kafka: "#/components/schemas/DestinationCreateKafka"
    # Type-Specific Destination Update Schemas (for Request Bodies)
    WebhookCredentialsUpdate:
      type: object
      properties:
        secret:
          type: string
          description: New secret (only allowed for admin).
        previous_secret:
          type: string
          description: Previous secret for rotation (only allowed for admin).
        previous_secret_invalid_at:
          type: string
          format: date-time
          description: Invalidation time for previous secret (only allowed for admin).
        rotate_secret:
          type: boolean
          description: Set to true to rotate the secret. The current secret becomes the previous_secret, and a new secret is generated. `previous_secret_invalid_at` defaults to 24h if not provided.
    DestinationUpdateWebhook:
      type: object
      x-docs-type: "Webhook"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/WebhookConfig" # URL is required here, but PATCH means it's optional in the request
        credentials:
          $ref: "#/components/schemas/WebhookCredentialsUpdate"
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateAWSSQS:
      type: object
      x-docs-type: "AWS SQS"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSSQSConfig" # queue_url is required here, but PATCH means it's optional
        credentials:
          $ref: "#/components/schemas/AWSSQSCredentials" # key/secret required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateRabbitMQ:
      type: object
      x-docs-type: "RabbitMQ"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/RabbitMQConfig" # server_url/exchange required here, but PATCH means optional
        credentials:
          $ref: "#/components/schemas/RabbitMQCredentials" # username/password required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateHookdeck:
      type: object
      x-docs-type: "Hookdeck Event Gateway"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config: {} # Empty config, cannot be updated
        credentials:
          $ref: "#/components/schemas/HookdeckCredentials" # token required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateAWSKinesis:
      type: object
      x-docs-type: "AWS Kinesis"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSKinesisConfig" # stream_name/region required here, but PATCH means optional
        credentials:
          $ref: "#/components/schemas/AWSKinesisCredentials" # key/secret required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateAzureServiceBus:
      type: object
      x-docs-type: "Azure Service Bus"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AzureServiceBusConfig" # name required here, but PATCH means optional
        credentials:
          $ref: "#/components/schemas/AzureServiceBusCredentials" # connection_string required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateAWSS3:
      type: object
      x-docs-type: "AWS S3"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSS3Config" # bucket/region required here, but PATCH means optional
        credentials:
          $ref: "#/components/schemas/AWSS3Credentials" # key/secret required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateGCPPubSub:
      type: object
      x-docs-type: "GCP PubSub"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/GCPPubSubConfig" # project_id/topic required here, but PATCH means optional
        credentials:
          $ref: "#/components/schemas/GCPPubSubCredentials" # service_account_json required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    DestinationUpdateKafka:
      type: object
      x-docs-type: "Apache Kafka"
      # Properties duplicated from DestinationUpdateBase
      properties:
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/KafkaConfig" # brokers/topic/sasl_mechanism required here, but PATCH means optional
        credentials:
          $ref: "#/components/schemas/KafkaCredentials" # username/password required here, but PATCH means optional
        delivery_metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Static key-value pairs merged into event metadata on every attempt. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"app-id": "my-app", "region": "us-east-1"}
        metadata:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: "null"
          nullable: true
          description: >-
            Arbitrary contextual information stored with the destination. Uses JSON merge-patch semantics (RFC 7396): send keys to add/update, null values to delete keys, null for entire field to clear all. Omit or send {} for no change.
          example: {"internal-id": "123", "team": "platform"}
    # Polymorphic Destination Update Schema (for Request Bodies)
    DestinationUpdate:
      oneOf:
        - $ref: "#/components/schemas/DestinationUpdateWebhook"
        - $ref: "#/components/schemas/DestinationUpdateHookdeck"
        - $ref: "#/components/schemas/DestinationUpdateAWSSQS"
        - $ref: "#/components/schemas/DestinationUpdateAWSKinesis"
        - $ref: "#/components/schemas/DestinationUpdateAWSS3"
        - $ref: "#/components/schemas/DestinationUpdateAzureServiceBus"
        - $ref: "#/components/schemas/DestinationUpdateGCPPubSub"
        - $ref: "#/components/schemas/DestinationUpdateRabbitMQ"
        - $ref: "#/components/schemas/DestinationUpdateKafka"
    # Event Schemas
    PublishRequest:
      type: object
      required:
        - data
      properties:
        id:
          type: string
          description: Optional. A unique identifier for the event. If not provided, a ID will be generated.
          example: "evt_custom_123"
        tenant_id:
          type: string
          description: The ID of the tenant to publish for.
          example: "<TENANT_ID>"
        destination_id:
          type: string
          description: Optional. Route event to a specific destination.
          example: "<DESTINATION_ID>"
        topic:
          type: string
          description: Topic name for the event. Required if Outpost has been configured with topics.
          example: "topic.name"
        eligible_for_retry:
          type: boolean
          description: Should event delivery be retried on failure.
        time:
          type: string
          format: date-time
          description: Optional. Custom timestamp for the event. If not provided, defaults to the current time.
          example: "2024-01-15T10:30:00Z"
        metadata:
          type: object
          description: Any key-value string pairs for metadata.
          additionalProperties:
            type: string
          example: {"source": "crm"}
        data:
          type: object
          description: Any JSON payload for the event data.
          additionalProperties: true
          example: {"user_id": "userid", "status": "active"}
    PublishResponse:
      type: object
      required:
        - id
        - duplicate
        - destination_ids
      properties:
        id:
          type: string
          description: The ID of the event that was accepted for publishing. This will be the ID provided in the request's `id` field if present, otherwise it's a server-generated ID.
          example: "evt_abc123xyz789"
        duplicate:
          type: boolean
          description: Whether this event was already processed (idempotency hit). If true, the event was not queued again.
          example: false
        destination_ids:
          type: array
          items:
            type: string
          description: The IDs of destinations that matched this event. Empty array if no destinations matched.
          example: ["des_456", "des_789"]
    RetryRequest:
      type: object
      description: Request body for retrying event delivery to a destination.
      required:
        - event_id
        - destination_id
      properties:
        event_id:
          type: string
          description: The ID of the event to retry.
          example: "evt_123"
        destination_id:
          type: string
          description: The ID of the destination to deliver to.
          example: "des_456"
    Event:
      type: object
      properties:
        id:
          type: string
          example: "evt_123"
        tenant_id:
          type: string
          description: The tenant this event belongs to.
          example: "tnt_123"
        matched_destination_ids:
          type: array
          items:
            type: string
          description: The destination IDs that this event was routed to based on topic and filter matching.
          example: ["des_456", "des_789"]
        topic:
          type: string
          example: "user.created"
        time:
          type: string
          format: date-time
          description: Time the event was received/processed.
          example: "2024-01-01T00:00:00Z"
        metadata:
          type: object
          nullable: true
          description: Key-value string pairs of metadata associated with the event.
          additionalProperties:
            type: string
          example: {"source": "crm"}
        data:
          type: object
          description: Freeform JSON data of the event.
          additionalProperties: true
          example: {"user_id": "userid", "status": "active"}
    # Attempt schemas for attempts-first API
    Attempt:
      type: object
      description: An attempt represents a single delivery attempt of an event to a destination.
      properties:
        id:
          type: string
          description: Unique identifier for this attempt.
          example: "atm_123"
        tenant_id:
          type: string
          description: The tenant this attempt belongs to.
          example: "tnt_123"
        status:
          type: string
          enum: [success, failed]
          description: The attempt status.
          example: "success"
        time:
          type: string
          format: date-time
          description: Time the attempt was made.
          example: "2024-01-01T00:00:05Z"
        code:
          type: string
          description: Response status code or error code.
          example: "200"
        response_data:
          type: object
          nullable: true
          description: Response data from the attempt. Only included when include=response_data.
          additionalProperties: true
          example: {"status_code": 200, "body": '{"status":"ok"}', "headers": {"content-type": "application/json"}}
        attempt_number:
          type: integer
          description: The attempt number (1 for first attempt, 2+ for retries).
          example: 1
        manual:
          type: boolean
          description: Whether this attempt was manually triggered (e.g., a retry initiated by a user).
          example: false
        event_id:
          type: string
          description: The ID of the associated event.
          example: "evt_123"
        destination_id:
          type: string
          description: The destination ID this attempt was sent to.
          example: "des_456"
        event:
          nullable: true
          oneOf:
            - $ref: "#/components/schemas/EventSummary"
            - $ref: "#/components/schemas/EventFull"
          description: The associated event object. Only present when include=event or include=event.data.
        destination:
          nullable: true
          $ref: "#/components/schemas/Destination"
          description: The destination object. Only present when include=destination.
    EventSummary:
      type: object
      description: Event object without data (returned when include=event).
      properties:
        id:
          type: string
          example: "evt_123"
        tenant_id:
          type: string
          description: The tenant this event belongs to.
          example: "tnt_123"
        destination_id:
          type: string
          description: The destination this event was delivered to.
          example: "des_456"
        topic:
          type: string
          example: "user.created"
        time:
          type: string
          format: date-time
          description: Time the event was received.
          example: "2024-01-01T00:00:00Z"
        eligible_for_retry:
          type: boolean
          description: Whether this event can be retried.
          example: true
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          example: {"source": "crm"}
    EventFull:
      type: object
      description: Full event object with data (returned when include=event.data).
      properties:
        id:
          type: string
          example: "evt_123"
        tenant_id:
          type: string
          description: The tenant this event belongs to.
          example: "tnt_123"
        destination_id:
          type: string
          description: The destination this event was delivered to.
          example: "des_456"
        topic:
          type: string
          example: "user.created"
        time:
          type: string
          format: date-time
          description: Time the event was received.
          example: "2024-01-01T00:00:00Z"
        eligible_for_retry:
          type: boolean
          description: Whether this event can be retried.
          example: true
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          example: {"source": "crm"}
        data:
          type: object
          additionalProperties: true
          description: The event payload data.
          example: {"user_id": "userid", "status": "active"}
    AttemptPaginatedResult:
      type: object
      description: Paginated list of attempts.
      properties:
        pagination:
          $ref: "#/components/schemas/SeekPagination"
        models:
          type: array
          items:
            $ref: "#/components/schemas/Attempt"
          description: Array of attempt objects.
    EventPaginatedResult:
      type: object
      description: Paginated list of events.
      properties:
        pagination:
          $ref: "#/components/schemas/SeekPagination"
        models:
          type: array
          items:
            $ref: "#/components/schemas/Event"
          description: Array of event objects.
    # Destination Type Schema (for Metadata endpoint)
    DestinationType:
      type: string
      enum:
        - webhook
        - aws_sqs
        - rabbitmq
        - hookdeck
        - aws_kinesis
        - azure_servicebus
        - aws_s3
        - gcp_pubsub
      description: Type of destination.
      example: "webhook"
    DestinationTypeSchema:
      type: object
      properties:
        type:
          type: string
          example: "webhook"
        label:
          type: string
          example: "Webhook"
        description:
          type: string
          example: "Send event via an HTTP POST request to a URL"
        icon:
          type: string
          description: SVG icon string.
          example: "<svg />"
        instructions:
          type: string
          description: Markdown instructions.
          example: "Some *markdown*"
        setup_link:
          type: object
          # Property is optional, not nullable
          description: >-
            Some destinations may have an OAuth flow or other managed-setup flow that can be triggered with a link. If a `setup_link` is set then the user should be prompted to follow the link to configure the destination.

            See the [building your own UI guide](https://outpost.hookdeck.com/guides/building-your-own-ui.mdx) for recommended UI patterns and wireframes for implementation in your own app.
          properties:
            href:
              type: string
              format: url
              description: The URL to direct the user to for setup.
              example: "https://dashboard.hookdeck.com/connect"
            cta:
              type: string
              description: The call-to-action button text to display to the user.
              example: "Generate Hookdeck Token"
          required:
            - href
            - cta
        config_fields:
          type: array
          description: Config fields are non-secret values that can be stored and displayed to the user in plain text.
          items:
            $ref: "#/components/schemas/DestinationSchemaField"
        credential_fields:
          type: array
          description: Credential fields are secret values that will be AES encrypted and obfuscated to the user. Some credentials may not be obfuscated; the destination type dictates the obfuscation logic.
          items:
            $ref: "#/components/schemas/DestinationSchemaField"
    DestinationSchemaField:
      type: object
      required: [type, required, key]
      properties:
        key:
          type: string
          description: >-
            Property name for this value inside the destination `config` or `credentials` object on create/update (for example `url` for a webhook endpoint URL). This is the key used to store and retrieve the field value in the destination's config or credentials object.
          example: "url"
        type:
          type: string
          enum: [text, checkbox, key_value_map, select]
          example: "text"
        label:
          type: string
          example: "URL"
        description:
          type: string
          example: "The URL to send the event to"
        required:
          type: boolean
          example: true
        sensitive:
          type: boolean
          description: Indicates if the field contains sensitive information.
          example: false
        default:
          type: string
          description: Default value for the field.
          example: "default_value"
        minlength:
          type: integer
          description: Minimum length for a text input.
          example: 0
        maxlength:
          type: integer
          description: Maximum length for a text input.
          example: 255
        pattern:
          type: string
          description: Regex pattern for validation (compatible with HTML5 pattern attribute).
          example: "^[a-zA-Z0-9_]+$"
        options:
          type: array
          description: Available options for select fields.
          items:
            type: object
            required: [label, value]
            properties:
              label:
                type: string
                example: "PLAIN"
              value:
                type: string
                example: "plain"
    MetricsDataPoint:
      type: object
      properties:
        time_bucket:
          type: string
          format: date-time
          description: Start of the time bucket. Absent when no granularity is specified.
          example: "2026-03-02T14:00:00Z"
        dimensions:
          type: object
          additionalProperties:
            type: string
          description: Dimension values for this data point. Empty object when no dimensions are requested.
          example:
            destination_id: "dest_abc"
            topic: "user.created"
        metrics:
          type: object
          additionalProperties: {}
          description: Requested measure values for this data point.
          example:
            count: 1423
            error_rate: 0.02
    MetricsMetadata:
      type: object
      properties:
        granularity:
          type: string
          description: The granularity used for time bucketing. Absent when none was specified.
          example: "1h"
        query_time_ms:
          type: integer
          description: Query execution time in milliseconds.
          example: 42
        row_count:
          type: integer
          description: Number of data points returned.
          example: 2
        row_limit:
          type: integer
          description: Maximum number of rows the query will return.
          example: 100000
        truncated:
          type: boolean
          description: Whether the results were truncated due to hitting the row limit.
          example: false
    MetricsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/MetricsDataPoint"
          description: Array of aggregated data points.
        metadata:
          $ref: "#/components/schemas/MetricsMetadata"
    ManagedConfig:
      type: object
      description: |
        Managed configuration values for Outpost Cloud.
        This API is available only on the managed version.
        Self-hosted deployments configure these values using environment variables.
      properties:
        ALERT_AUTO_DISABLE_DESTINATION:
          type: string
        ALERT_CALLBACK_URL:
          type: string
        ALERT_CONSECUTIVE_FAILURE_COUNT:
          type: string
        DELIVERY_TIMEOUT_SECONDS:
          type: string
        DESTINATIONS_AWS_KINESIS_METADATA_IN_PAYLOAD:
          type: string
        DESTINATIONS_INCLUDE_MILLISECOND_TIMESTAMP:
          type: string
        DESTINATIONS_WEBHOOK_DISABLE_DEFAULT_EVENT_ID_HEADER:
          type: string
        DESTINATIONS_WEBHOOK_DISABLE_DEFAULT_SIGNATURE_HEADER:
          type: string
        DESTINATIONS_WEBHOOK_DISABLE_DEFAULT_TIMESTAMP_HEADER:
          type: string
        DESTINATIONS_WEBHOOK_DISABLE_DEFAULT_TOPIC_HEADER:
          type: string
        DESTINATIONS_WEBHOOK_HEADER_PREFIX:
          type: string
        DESTINATIONS_WEBHOOK_MODE:
          type: string
        DESTINATIONS_WEBHOOK_PROXY_URL:
          type: string
        DESTINATIONS_WEBHOOK_SIGNATURE_ALGORITHM:
          type: string
        DESTINATIONS_WEBHOOK_SIGNATURE_CONTENT_TEMPLATE:
          type: string
        DESTINATIONS_WEBHOOK_SIGNATURE_ENCODING:
          type: string
        DESTINATIONS_WEBHOOK_SIGNATURE_HEADER_TEMPLATE:
          type: string
        DESTINATIONS_WEBHOOK_SIGNING_SECRET_TEMPLATE:
          type: string
        HTTP_USER_AGENT:
          type: string
        IDGEN_ATTEMPT_PREFIX:
          type: string
        IDGEN_DESTINATION_PREFIX:
          type: string
        IDGEN_EVENT_PREFIX:
          type: string
        IDGEN_TYPE:
          type: string
        MAX_DESTINATIONS_PER_TENANT:
          type: string
        ORGANIZATION_NAME:
          type: string
        PORTAL_BRAND_COLOR:
          type: string
        PORTAL_DISABLE_OUTPOST_BRANDING:
          type: string
        PORTAL_FAVICON_URL:
          type: string
        PORTAL_FORCE_THEME:
          type: string
        PORTAL_LOGO:
          type: string
        PORTAL_LOGO_DARK:
          type: string
        PORTAL_ORGANIZATION_NAME:
          type: string
        PORTAL_REFERER_URL:
          type: string
        PORTAL_REFRESH_URL:
          type: string
        PORTAL_ENABLE_DESTINATION_FILTER:
          type: string
        PORTAL_ENABLE_WEBHOOK_CUSTOM_HEADERS:
          type: string
        RETRY_INTERVAL_SECONDS:
          type: string
        MAX_RETRY_LIMIT:
          type: string
        RETRY_SCHEDULE:
          type: string
        OTEL_EXPORTER_OTLP_ENDPOINT:
          type: string
        OTEL_EXPORTER_OTLP_HEADERS:
          type: string
        OTEL_EXPORTER_OTLP_PROTOCOL:
          type: string
        OTEL_EXPORTER_OTLP_TRACES_ENDPOINT:
          type: string
        OTEL_EXPORTER_OTLP_METRICS_ENDPOINT:
          type: string
        OTEL_EXPORTER_OTLP_LOGS_ENDPOINT:
          type: string
        OTEL_SERVICE_NAME:
          type: string
        PUBLISH_AWS_SQS_ACCESS_KEY_ID:
          type: string
        PUBLISH_AWS_SQS_ENDPOINT:
          type: string
        PUBLISH_AWS_SQS_QUEUE:
          type: string
        PUBLISH_AWS_SQS_REGION:
          type: string
        PUBLISH_AWS_SQS_SECRET_ACCESS_KEY:
          type: string
        PUBLISH_AZURE_SERVICEBUS_CONNECTION_STRING:
          type: string
        PUBLISH_AZURE_SERVICEBUS_SUBSCRIPTION:
          type: string
        PUBLISH_AZURE_SERVICEBUS_TOPIC:
          type: string
        PUBLISH_GCP_PUBSUB_PROJECT:
          type: string
        PUBLISH_GCP_PUBSUB_SERVICE_ACCOUNT_CREDENTIALS:
          type: string
        PUBLISH_GCP_PUBSUB_SUBSCRIPTION:
          type: string
        PUBLISH_GCP_PUBSUB_TOPIC:
          type: string
        PUBLISH_RABBITMQ_EXCHANGE:
          type: string
        PUBLISH_RABBITMQ_QUEUE:
          type: string
        PUBLISH_RABBITMQ_SERVER_URL:
          type: string
        TOPICS:
          type: string
      additionalProperties: false
      example:
        TOPICS: "user.created,user.updated"
        DESTINATIONS_WEBHOOK_MODE: "default"
    BadRequest:
      type: object
      properties:
        message:
          type: string
      additionalProperties: true
    Unauthorized:
      type: object
      properties:
        message:
          type: string
      additionalProperties: true
    NotFound:
      type: object
      properties:
        message:
          type: string
      additionalProperties: true
    RateLimited:
      type: object
      properties:
        message:
          type: string
      additionalProperties: true
    InternalServerError:
      type: object
      properties:
        message:
          type: string
      additionalProperties: true
    Timeout:
      type: object
      properties:
        message:
          type: string
      additionalProperties: true
# Security is applied per-operation based on AuthScope
tags:
  - name: Health
    description: |
      This endpoint is only available for **self-hosted** Outpost deployments. Managed Outpost health is monitored by Hookdeck.
  - name: Configuration
    description: |
      The Configuration API is available for **managed Outpost** deployments only. It allows you to read and update instance-level settings — the same settings available as environment variables in self-hosted deployments.
  - name: Tenants
    description: |
      The API segments resources per `tenant`. A tenant represents a user/team/organization in your product. The provided value determines the tenant's ID, which can be any string representation.

      If your system is not multi-tenant, create a single tenant with a hard-code tenant ID upon initialization. If your system has a single tenant but multiple environments, create a tenant per environment, like `live` and `test`.
  - name: Destinations
    description: |
      Destinations are the endpoints where events are sent. Each destination is associated with a tenant and can be configured to receive specific event topics.

      The `topics` array can contain either a list of topics or a wildcard `*` implying that all topics are supported. If you do not wish to implement topics for your application, you set all destination topics to `*`.

      By default all destination `credentials` are obfuscated and the values cannot be read. This does not apply to the `webhook` type destination secret and each destination can expose their own obfuscation logic.
  - name: Publish
    description: Use the Publish endpoint to send events into Outpost. Events are matched against all destinations whose topic subscriptions and filters match the event. Requires Admin API Key.
  - name: Retry
    description: Triggers a retry for delivering an event to a destination. The event must exist and the destination must be enabled and match the event's topic.
  - name: Schemas
    description: |
      Destination types describe the available event delivery targets and their configuration schemas. Use these endpoints to render UI forms and list available destination types with their configuration schemas.
  - name: Topics
    description: |
      Returns the list of topics configured for this Outpost deployment. Tenants subscribe their destinations to topics from this list. Topics are defined via your configuration file and not a specific Create Topic API.
  - name: Attempts
    description: |
      Attempts represent individual delivery attempts of events to destinations. The attempts API provides an attempt-centric view of event processing.

      Use the `include` query parameter to include related data:
      - `include=event`: Include event summary (id, topic, time, eligible_for_retry, metadata)
      - `include=event.data`: Include full event with payload data
      - `include=response_data`: Include response body and headers from the attempt
      - `include=destination`: Include the full destination object with target information
  - name: Events
    description: |
      An event represents a payload published to Outpost. Events are matched against all destinations whose topic subscriptions match the event topic, then delivered.
  - name: Metrics
    description: |
      Aggregated metrics for events and delivery attempts. Supports time bucketing, dimensional grouping, and filtering.
paths:
  /healthz:
    get:
      tags: [Health]
      summary: Health Check
      description: |
        Health check endpoint that reports the status of all workers.

        > This endpoint is only available for **self-hosted** Outpost deployments. Managed Outpost health is monitored by Hookdeck.

        Returns HTTP 200 when all workers are healthy, or HTTP 503 if any worker has failed.

        Note: Error details are not exposed for security reasons. Check application logs for detailed error information.
      operationId: healthCheck
      security: []
      responses:
        "200":
          description: Service is healthy - all workers are operational.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - timestamp
                  - workers
                properties:
                  status:
                    type: string
                    enum: [healthy]
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                    description: When this health check was performed
                    example: "2025-11-11T10:30:00Z"
                  workers:
                    type: object
                    additionalProperties:
                      type: object
                      required:
                        - status
                      properties:
                        status:
                          type: string
                          enum: [healthy]
                          example: healthy
              example:
                status: healthy
                timestamp: "2025-11-11T10:30:00Z"
                workers:
                  http-server:
                    status: healthy
                  retrymq-consumer:
                    status: healthy
        "503":
          description: Service is unhealthy - one or more workers have failed.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - timestamp
                  - workers
                properties:
                  status:
[...]
