openapi: 3.1.0
info:
  title: Outpost API
  version: "0.0.1"
  description: |
    The Outpost API is a REST-based JSON API for managing tenants, destinations, and publishing events.

    Outpost runs in two deployment models: **managed** (hosted by Hookdeck) and **self-hosted**. They differ in where the API is served and in which API key authenticates server-side calls. On managed Outpost, use a Hookdeck project API key from your Outpost project. On self-hosted Outpost, use the key set in the `API_KEY` environment variable. A few endpoints exist in one model only and say so in their description.

    This reference describes API v2, which self-hosted Outpost serves under `/api/v2`. API v1, served under `/api/v1` and by every managed dated version, is the same except where an operation says otherwise.
  contact:
    name: Outpost Support
    email: support@hookdeck.com
    url: https://hookdeck.com/docs/outpost
security:
  - AdminApiKey: []
  - TenantJwt: []
servers:
  - url: https://api.outpost.hookdeck.com/2025-07-01
    description: Managed Outpost, hosted by Hookdeck at `api.outpost.hookdeck.com`. The Hookdeck Event Gateway API at `api.hookdeck.com` is a separate API.
  - url: http://localhost:3333/api/v1
    description: Self-hosted Outpost, at its default local address. A deployed instance serves the same paths under its own host.
  - url: http://localhost:3333/api/v2
    description: Self-hosted Outpost API v2, at its default local address. The same instance serves it beside `/api/v1`. Managed Outpost doesn't serve API v2 yet; its dated URL will be listed here once it does, and the SDKs move to API v2 only then.
components:
  securitySchemes:
    AdminApiKey:
      type: http
      scheme: bearer
      description: |
        Bearer token for server-side calls. Where it comes from depends on the
        deployment:

        - **Managed:** a Hookdeck **project API key belonging to your
          Outpost project** (Hookdeck Dashboard → your Outpost project →
          Settings → Secrets). A key from a different Hookdeck project
          authenticates but returns `404` on most Outpost routes.
        - **Self-hosted:** the admin API key set in the `API_KEY` environment
          variable.

        The scheme is named for the self-hosted credential. Managed Outpost has
        no separate admin key to create. The project API key takes its place.
    TenantJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Per-tenant JWT token valid for 24 hours.

        **JWT Structure:**
        The token is a standard JWT signed with HS256 algorithm containing the following claims:
        - `iss` (issuer): Always "outpost"
        - `sub` (subject): The tenant_id this token is scoped to
        - `iat` (issued at): Unix timestamp when the token was created
        - `exp` (expiration): Unix timestamp when the token expires (24 hours after issuance)

        **Example decoded payload:**
        ```json
        {
          "iss": "outpost",
          "sub": "tenant_123",
          "iat": 1704067200,
          "exp": 1704153600
        }
        ```
  responses:
    BadRequest:
      description: Malformed JSON or invalid request parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    Unauthorized:
      description: Missing or invalid authentication credentials.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    Forbidden:
      description: The credentials are valid but not allowed to perform the request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    NotFound:
      description: Requested resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    RequestBodyTooLarge:
      description: Request body is larger than 1 MiB.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    ValidationError:
      description: Request body fails validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIErrorResponse"
    MCPError:
      description: |
        The MCP request failed. Rethrow `mcp_error` as the JSON-RPC error of the MCP request: its `code`, `message` and `data` become the JSON-RPC error's fields. The examples use the default `sketch` codes.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MCPErrorResponse"
          examples:
            InvalidArguments:
              summary: Arguments don't match the event's inputSchema
              value:
                mcp_error:
                  kind: "invalid_params"
                  code: -32602
                  message: "InvalidParams"
                  data:
                    field: "arguments"
                    reason: "invalid"
                    errors:
                      - "arguments.total.$gte: must be number"
                      - "arguments.total: must be array"
                      - "arguments.total: must be number"
            AddressNotAllowed:
              summary: Callback host isn't globally routable or allowlisted
              value:
                mcp_error:
                  kind: "invalid_params"
                  code: -32602
                  message: "InvalidParams"
                  data:
                    field: "delivery.url"
                    reason: "address_not_allowed"
            EventNotFound:
              summary: Unknown, non-MCP or disallowed event name
              value:
                mcp_error:
                  kind: "not_found"
                  code: -32011
                  message: "NotFound"
                  data:
                    kind: "event"
            TenantNotFound:
              summary: Tenant doesn't exist (subscribe)
              value:
                mcp_error:
                  kind: "not_found"
                  code: -32011
                  message: "NotFound"
                  data:
                    kind: "tenant"
            SubscriptionLimit:
              summary: MAX_MCP_SUBSCRIPTIONS_PER_TENANT reached
              value:
                mcp_error:
                  kind: "resource_exhausted"
                  code: -32013
                  message: "ResourceExhausted"
                  data:
                    limit: "subscriptions"
                    max: 100
            VerificationRate:
              summary: MCP_VERIFICATION_RATE_LIMIT reached for the principal
              value:
                mcp_error:
                  kind: "resource_exhausted"
                  code: -32013
                  message: "ResourceExhausted"
                  data:
                    limit: "verification_rate"
                    retryAfterMs: 42000
            UnsupportedDeliveryMode:
              summary: delivery.mode other than webhook
              value:
                mcp_error:
                  kind: "unsupported"
                  code: -32014
                  message: "Unsupported"
                  data:
                    feature: "deliveryMode"
                    value: "poll"
            ChallengeFailed:
              summary: Callback didn't echo the verification challenge
              value:
                mcp_error:
                  kind: "callback_endpoint_error"
                  code: -32015
                  message: "CallbackEndpointError"
                  data:
                    reason: "challenge_failed"
  schemas:
    # Shared Query Schemas
    Operator:
      type: object
      description: Comparison operators for filtering by date-time values (RFC3339 or YYYY-MM-DD format).
      properties:
        gte:
          type: string
          format: date-time
          description: Filter with value >= the specified date-time.
        lte:
          type: string
          format: date-time
          description: Filter with value <= the specified date-time.
        gt:
          type: string
          format: date-time
          description: Filter with value > the specified date-time.
        lt:
          type: string
          format: date-time
          description: Filter with value < the specified date-time.

    # Base Schemas
    Tenant:
      type: object
      properties:
        id:
          type: string
          description: User-defined system ID for the tenant.
          example: "123"
        destinations_count:
          type: integer
          description: Number of destinations associated with the tenant, including MCP Events subscriptions (type `mcp`) in API v1 and v2 alike.
          example: 5
        topics:
          type: array
          items:
            type: string
          description: List of subscribed topics across all destinations for this tenant, including the topics of MCP Events subscriptions in API v1 and v2 alike.
          example: ["user.created", "user.deleted"]
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary key-value pairs for storing contextual information about the tenant.
          example: { "name": "Acme Inc." }
        created_at:
          type: string
          format: date-time
          description: ISO Date when the tenant was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the tenant was last updated.
          example: "2024-01-01T00:00:00Z"
    TenantUpsert:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Optional key/value metadata to store with the tenant.
    TenantPaginatedResult:
      type: object
      description: Paginated list of tenants.
      properties:
        models:
          type: array
          items:
            $ref: "#/components/schemas/Tenant"
          description: Array of tenant objects.
        pagination:
          $ref: "#/components/schemas/SeekPagination"
        count:
          type: integer
          description: Total count of all tenants.
          example: 42
    PortalRedirect:
      type: object
      properties:
        redirect_url:
          type: string
          format: url
          description: Redirect URL containing a JWT to authenticate the user with the portal.
          example: "https://webhooks.acme.com/?token=JWT_TOKEN&tenant_id=tenant_123"
        tenant_id:
          type: string
          description: The ID of the tenant associated with this portal session.
          example: "tenant_123"
    TenantToken:
      type: object
      properties:
        token:
          type: string
          description: JWT token scoped to the tenant for safe browser API calls.
          example: "SOME_JWT_TOKEN"
        tenant_id:
          type: string
          description: The ID of the tenant this token is scoped to.
          example: "tenant_123"
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
    Topics:
      oneOf:
        - type: string
          enum: ["*"]
        - type: array
          items:
            type: string
      description: '"*" or an array of enabled topics. Topic strings can include "*" as a wildcard matching any run of characters. When available topics are configured, wildcard patterns must match at least one available topic.'
      example: "*"

    Filter:
      type: object
      nullable: true
      additionalProperties: true
      description: |
        Optional JSON schema filter for event matching. Events must match this filter to be delivered to this destination.
        Supports operators: $eq, $neq, $gt, $gte, $lt, $lte, $in, $nin, $startsWith, $endsWith, $exist, $or, $and, $not.
        If null or empty, all events matching the topic filter will be delivered.
        Uses full-replacement semantics on update: send a new object to replace, null or `{}` to clear, omit for no change.
      example:
        data:
          amount:
            $gte: 100
          customer:
            tier: "premium"

    SeekPagination:
      type: object
      description: Cursor-based pagination metadata for list responses.
      properties:
        order_by:
          type: string
          description: The field being sorted on.
          example: "created_at"
        dir:
          type: string
          enum: [asc, desc]
          description: Sort direction.
          example: "desc"
        limit:
          type: integer
          description: Page size limit.
          example: 100
        next:
          type: string
          nullable: true
          description: Cursor for the next page of results. Null if no more results.
          example: "MTcwNDA2NzIwMA=="
        prev:
          type: string
          nullable: true
          description: Cursor for the previous page of results. Null if on first page.
          example: null

    APIErrorResponse:
      type: object
      description: Standard error response format.
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 422
        message:
          type: string
          description: Human-readable error message.
          example: "validation error"
        data:
          description: Additional error details. For validation errors, this is an array of human-readable messages.
          oneOf:
            - type: array
              items:
                type: string
              description: Array of validation error messages.
              example: ["email is required", "password must be at least 6 characters"]
            - type: object
              additionalProperties: true
              description: Additional contextual data about the error.

    # Destination Type Specific Config/Credentials Schemas
    WebhookConfig:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: url
          description: The URL to send the webhook events to.
          example: "https://example.com/webhooks/user"
        custom_headers:
          type: string
          description: JSON string of custom HTTP headers to include with every webhook request. Header names must be valid HTTP header tokens (alphanumeric, hyphens, underscores). Reserved headers (Content-Type, Host, etc.) cannot be overridden.
          example: '{"x-api-key":"secret123","x-tenant-id":"customer-456"}'
    WebhookCredentials:
      type: object
      properties:
        secret:
          type: string
          description: The secret used for signing webhook requests. Auto-generated if omitted on creation by admin. Read-only for tenants unless rotating.
          example: "whsec_abc123"
        previous_secret:
          type: string
          description: The previous secret used during rotation. Valid for 24 hours by default. Read-only.
          example: "whsec_xyz789"
        previous_secret_invalid_at:
          type: string
          format: date-time
          description: ISO timestamp when the previous secret becomes invalid. Read-only.
          example: "2024-01-02T00:00:00Z"
    AWSSQSConfig:
      type: object
      required: [queue_url]
      properties:
        endpoint:
          type: string
          format: url
          description: Optional. Custom AWS endpoint URL (e.g., for LocalStack or specific regions).
          example: "https://sqs.us-east-1.amazonaws.com" # Corrected Example
        queue_url:
          type: string
          format: url # Technically an ARN/URL hybrid, but URL format is close enough
          description: The URL of the SQS queue.
          example: "https://sqs.us-east-1.amazonaws.com/123456789012/my-queue"
    AWSSQSCredentials:
      type: object
      required: [key, secret]
      properties:
        key:
          type: string
          description: AWS Access Key ID.
          example: "AKIAIOSFODNN7EXAMPLE"
        secret:
          type: string
          description: AWS Secret Access Key.
          example: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
          example: "AQoDYXdzEPT//////////wEXAMPLE..."
    CloudflareQueuesConfig:
      type: object
      required: [account_id, queue_id]
      properties:
        account_id:
          type: string
          description: Cloudflare Account ID (32-character hex string).
          pattern: "^[0-9a-f]{32}$"
          example: "023e105f4ecef8ad9ca31a8372d0c353"
        queue_id:
          type: string
          description: Cloudflare Queue ID (32-character hex string, not the queue name).
          pattern: "^[0-9a-f]{32}$"
          example: "9d7d4cf8a3a14d9aaeb50c3e74e2f4b1"
    CloudflareQueuesCredentials:
      type: object
      required: [api_token]
      properties:
        api_token:
          type: string
          description: Cloudflare API Token with the Account > Queues > Edit (Queues Write) permission, scoped to the target account.
          example: "v1.0-1234567890abcdef..."
    AWSEventBridgeConfig:
      type: object
      required: [region]
      properties:
        event_bus_name:
          type: string
          description: Optional. The name or ARN of the EventBridge event bus. Defaults to the account's default event bus.
          example: "my-event-bus"
        region:
          type: string
          description: The AWS region where the event bus is located.
          example: "us-east-1"
        endpoint:
          type: string
          format: url
          description: Optional. Custom AWS endpoint URL (e.g., for LocalStack or VPC endpoints).
          example: "https://events.us-east-1.amazonaws.com"
    AWSEventBridgeCredentials:
      type: object
      required: [key, secret]
      properties:
        key:
          type: string
          description: AWS Access Key ID.
          example: "AKIAIOSFODNN7EXAMPLE"
        secret:
          type: string
          description: AWS Secret Access Key.
          example: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
          example: "AQoDYXdzEPT//////////wEXAMPLE..."
    RabbitMQConfig:
      type: object
      required: [server_url, exchange]
      properties:
        server_url:
          type: string
          description: RabbitMQ server address (host:port).
          example: "localhost:5672"
        exchange:
          type: string
          description: The exchange to publish messages to.
          example: "my-exchange"
        tls:
          type: string
          enum: ["true", "false"]
          description: Whether to use TLS connection (amqps). Defaults to "false".
          example: "false"
    RabbitMQCredentials:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: RabbitMQ username.
          example: "guest"
        password:
          type: string
          description: RabbitMQ password.
          example: "guest"
    HookdeckCredentials: # Hookdeck has no config fields, only credentials
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: Hookdeck authentication token.
          example: "hd_token_..."
    AWSKinesisConfig:
      type: object
      required: [stream_name, region]
      properties:
        stream_name:
          type: string
          description: The name of the AWS Kinesis stream.
          example: "my-data-stream"
        region:
          type: string
          description: The AWS region where the Kinesis stream is located.
          example: "us-east-1"
        endpoint:
          type: string
          format: url
          description: Optional. Custom AWS endpoint URL (e.g., for LocalStack or VPC endpoints).
          example: "https://kinesis.us-east-1.amazonaws.com"
        partition_key_template:
          type: string
          description: Optional. JMESPath template to extract the partition key from the event payload (e.g., `metadata."event-id"`). Defaults to event ID.
          example: 'data."user_id"'
    AWSKinesisCredentials:
      type: object
      required: [key, secret]
      properties:
        key:
          type: string
          description: AWS Access Key ID.
          example: "AKIAIOSFODNN7EXAMPLE"
        secret:
          type: string
          description: AWS Secret Access Key.
          example: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
          example: "AQoDYXdzEPT//////////wEXAMPLE..."

    AzureServiceBusConfig:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: The name of the Azure Service Bus queue or topic to publish messages to.
          example: "my-queue-or-topic"
    AzureServiceBusCredentials:
      type: object
      required: [connection_string]
      properties:
        connection_string:
          type: string
          description: The connection string for the Azure Service Bus namespace.
          example: "Endpoint=sb://namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=abc123"
    AWSS3Config:
      type: object
      required: [bucket, region]
      properties:
        bucket:
          type: string
          description: The name of your AWS S3 bucket.
          example: "my-bucket"
        region:
          type: string
          description: The AWS region where your bucket is located.
          pattern: "^[a-z]{2}-[a-z]+-[0-9]+$"
          example: "us-east-1"
        key_template:
          type: string
          description: JMESPath expression for generating S3 object keys. Default is join('', [time.rfc3339_nano, '_', metadata."event-id", '.json']).
          example: 'join(''/'', [time.year, time.month, time.day, metadata."event-id", ''.json''])'
        storage_class:
          type: string
          description: The storage class for the S3 objects (e.g., STANDARD, INTELLIGENT_TIERING, GLACIER, etc.). Defaults to "STANDARD".
          example: "STANDARD"
    AWSS3Credentials:
      type: object
      required: [key, secret]
      properties:
        key:
          type: string
          description: AWS Access Key ID.
          example: "AKIAIOSFODNN7EXAMPLE"
        secret:
          type: string
          description: AWS Secret Access Key.
          example: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
          example: "AQoDYXdzEPT//////////wEXAMPLE..."
    GCPPubSubConfig:
      type: object
      required: [project_id, topic]
      properties:
        project_id:
          type: string
          description: The GCP project ID.
          example: "my-project-123"
        topic:
          type: string
          description: The Pub/Sub topic name.
          example: "events-topic"
        endpoint:
          type: string
          description: Optional. Custom endpoint URL (e.g., localhost:8085 for emulator).
          example: "pubsub.googleapis.com:443"
    GCPPubSubCredentials:
      type: object
      required: [service_account_json]
      properties:
        service_account_json:
          type: string
          description: Service account key JSON. The entire JSON key file content as a string.
          example: '{"type":"service_account","project_id":"my-project","private_key_id":"key123","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"my-service@my-project.iam.gserviceaccount.com"}'
    KafkaConfig:
      type: object
      required: [brokers, topic, sasl_mechanism]
      properties:
        brokers:
          type: string
          description: Comma-separated list of Kafka broker addresses.
          example: "broker1.example.com:9092,broker2.example.com:9092"
        topic:
          type: string
          description: The Kafka topic to publish messages to.
          example: "events"
        sasl_mechanism:
          type: string
          enum: [plain, scram-sha-256, scram-sha-512]
          description: SASL authentication mechanism.
          example: "scram-sha-256"
        tls:
          type: string
          enum: ["true", "false"]
          description: Whether to enable TLS for the connection.
          default: "true"
          example: "true"
        partition_key_template:
          type: string
          description: Optional JMESPath template to extract the partition key from the event payload. Defaults to the event ID.
          example: "data.customer_id"
    KafkaCredentials:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: SASL username for authentication.
          example: "outpost"
        password:
          type: string
          description: SASL password for authentication.
          example: "secure_password_123"
    MCPConfig:
      type: object
      description: Configuration of an MCP Events subscription. Set by Outpost from the subscribe request and read-only.
      required: [url, subscription_id, principal, event, arguments]
      properties:
        url:
          type: string
          description: The callback URL from `delivery.url`, normalized.
          example: "https://receiver.example.com/mcp-events/abc123"
        subscription_id:
          type: string
          description: The subscription ID, equal to the destination ID. Sent as `X-MCP-Subscription-Id` on every delivery.
          example: "sub_1fa69bec3707ee16223ae5400f92f935"
        principal:
          type: string
          description: The principal that subscribed, as passed by your MCP server.
          example: "user_8f2c"
        event:
          type: string
          description: The subscribed event name, which is the topic.
          example: "order.created"
        arguments:
          type: string
          description: The subscription arguments, as a canonical JSON string with sorted keys. `{}` when the client sent none.
          example: '{"currency":"USD","total":{"$gte":100}}'
        schema_hash:
          type: string
          description: SHA-256, in hex, of the topic's payload schema when the subscription was created or last refreshed. Outpost uses it to end subscriptions after a breaking schema change applied with `TOPICS_ALLOW_BREAKING_CHANGES`.
          example: "8bdecd62e9fd5024a655cfb867d4bfd67293264c9529691be1727e6057dd52d6"
    MCPCredentials:
      type: object
      description: Signing secrets of an MCP Events subscription, supplied by the MCP client. Always masked in responses, so only the first 4 characters are shown.
      properties:
        secret:
          type: string
          description: The `whsec_` signing secret from `delivery.secret`, masked.
          example: "whse**********************************************"
        previous_secret:
          type: string
          description: The secret the client replaced on its last refresh, masked. Deliveries are signed with it as well until `previous_secret_invalid_at`.
          example: "whse**********************************************"
        previous_secret_invalid_at:
          type: string
          format: date-time
          description: When Outpost stops signing with `previous_secret`, `MCP_SECRET_ROTATION_GRACE` after the rotation.
          example: "2026-10-10T16:58:12Z"

    # Type-Specific Destination Schemas (for Responses)
    DestinationWebhook:
      type: object
      x-docs-type: "Webhook"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [webhook]
          example: "webhook"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/WebhookConfig"
        credentials:
          $ref: "#/components/schemas/WebhookCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (e.g., URL host). Read-only.
          readOnly: true
          example: "my-service.com"
        target_url:
          type: string
          format: url
          nullable: true # Should always have a URL for webhook
          description: A URL link to the destination target (the webhook URL). Read-only.
          readOnly: true
          example: "https://my-service.com/webhook/handler"
      example:
        id: "des_webhook_123"
        type: "webhook"
        topics: ["user.created", "order.shipped"]
        disabled_at: null
        created_at: "2024-02-15T10:00:00Z"
        updated_at: "2024-02-15T10:00:00Z"
        config:
          url: "https://my-service.com/webhook/handler"
        credentials:
          secret: "whsec_abc123def456"
          previous_secret: "whsec_prev789xyz012"
          previous_secret_invalid_at: "2024-02-16T10:00:00Z"
    DestinationAWSSQS:
      type: object
      x-docs-type: "AWS SQS"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [aws_sqs]
          example: "aws_sqs"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AWSSQSConfig"
        credentials:
          $ref: "#/components/schemas/AWSSQSCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (SQS queue name). Read-only.
          readOnly: true
          example: "my-app-queue"
        target_url:
          type: string
          format: url
          nullable: true # Can construct AWS console URL
          description: A URL link to the destination target (AWS Console link to the queue). Read-only.
          readOnly: true
          example: "https://us-west-2.console.aws.amazon.com/sqs/v2/home?region=us-west-2#/queues/https%3A%2F%2Fsqs.us-west-2.amazonaws.com%2F123456789012%2Fmy-app-queue"
      example:
        id: "des_sqs_456"
        type: "aws_sqs"
        topics: ["*"]
        disabled_at: "2024-03-01T12:00:00Z"
        created_at: "2024-02-20T11:30:00Z"
        updated_at: "2024-02-20T11:30:00Z"
        config:
          queue_url: "https://sqs.us-west-2.amazonaws.com/123456789012/my-app-queue"
          endpoint: "https://sqs.us-west-2.amazonaws.com"
        credentials:
          key: "AKIAIOSFODNN7EXAMPLE"
          secret: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
    DestinationRabbitMQ:
      type: object
      x-docs-type: "RabbitMQ"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [rabbitmq]
          example: "rabbitmq"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/RabbitMQConfig"
        credentials:
          $ref: "#/components/schemas/RabbitMQCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (RabbitMQ exchange). Read-only.
          readOnly: true
          example: "events-exchange"
        target_url:
          type: string
          format: url
          nullable: true # No direct URL for an exchange
          description: A URL link to the destination target (not applicable for RabbitMQ exchange). Read-only.
          readOnly: true
          example: null
      example:
        id: "des_rmq_789"
        type: "rabbitmq"
        topics: ["inventory.updated"]
        disabled_at: null
        created_at: "2024-01-10T09:00:00Z"
        updated_at: "2024-01-10T09:00:00Z"
        config:
          server_url: "amqp.cloudamqp.com:5671"
          exchange: "events-exchange"
          tls: "true"
        credentials:
          username: "app_user"
          password: "secure_password_123"
    DestinationHookdeck:
      type: object
      x-docs-type: "Hookdeck Event Gateway"
      # Properties duplicated from DestinationBase
      required: [id, type, topics, credentials, created_at, disabled_at] # No config
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [hookdeck]
          example: "hookdeck"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config: {} # Empty config
        credentials:
          $ref: "#/components/schemas/HookdeckCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (Hookdeck). Read-only.
          readOnly: true
          example: "Hookdeck"
        target_url:
          type: string
          format: url
          nullable: true # Link to Hookdeck dashboard? TBD
          description: A URL link to the destination target (e.g., Hookdeck dashboard). Read-only.
          readOnly: true
          example: "https://dashboard.hookdeck.com/sources/src_xxxyyyzzz"
      example:
        id: "des_hkd_abc"
        type: "hookdeck"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-04-01T10:00:00Z"
        updated_at: "2024-04-01T10:00:00Z"
        config: {}
        credentials:
          token: "hd_token_..."
    DestinationAWSKinesis:
      type: object
      x-docs-type: "AWS Kinesis"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [aws_kinesis]
          example: "aws_kinesis"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AWSKinesisConfig"
        credentials:
          $ref: "#/components/schemas/AWSKinesisCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (Kinesis stream name). Read-only.
          readOnly: true
          example: "production-events"
        target_url:
          type: string
          format: url
          nullable: true # Can construct AWS console URL
          description: A URL link to the destination target (AWS Console link to the stream). Read-only.
          readOnly: true
          example: "https://eu-west-1.console.aws.amazon.com/kinesis/home?region=eu-west-1#/streams/details/production-events/details"
      example:
        id: "des_kns_xyz"
        type: "aws_kinesis"
        topics: ["user.created", "user.updated"]
        disabled_at: null
        created_at: "2024-03-10T15:30:00Z"
        updated_at: "2024-03-10T15:30:00Z"
        config:
          stream_name: "production-events"
          region: "eu-west-1"
        credentials:
          key: "AKIAIOSFODNN7EXAMPLE"
          secret: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"

    DestinationAzureServiceBus:
      type: object
      x-docs-type: "Azure Service Bus"
      required: [id, type, topics, config, credentials, created_at, disabled_at]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [azure_servicebus]
          example: "azure_servicebus"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AzureServiceBusConfig"
        credentials:
          $ref: "#/components/schemas/AzureServiceBusCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (Azure Service Bus queue/topic name). Read-only.
          readOnly: true
          example: "my-queue-or-topic"
        target_url:
          type: string
          format: url
          nullable: true # Can construct Azure portal URL
          description: A URL link to the destination target (Azure Portal link to the Service Bus). Read-only.
          readOnly: true
          example: "https://portal.azure.com/#@tenant-id/resource/subscriptions/subscription-id/resourceGroups/resource-group/providers/Microsoft.ServiceBus/namespaces/namespace-name/queues/queue-name"
      example:
        id: "des_azuresb_123"
        type: "azure_servicebus"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-05-01T10:00:00Z"
        updated_at: "2024-05-01T10:00:00Z"
        config:
          name: "my-queue-or-topic"
        credentials:
          connection_string: "Endpoint=sb://namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=abc123"

    DestinationAWSS3:
      type: object
      x-docs-type: "AWS S3"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [aws_s3]
          example: "aws_s3"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AWSS3Config"
        credentials:
          $ref: "#/components/schemas/AWSS3Credentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (bucket and region). Read-only.
          readOnly: true
          example: "my-bucket in us-east-1"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the destination target (AWS Console link to the bucket). Read-only.
          readOnly: true
          example: null
      example:
        id: "des_s3_789"
        type: "aws_s3"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-03-20T12:00:00Z"
        updated_at: "2024-03-20T12:00:00Z"
        config:
          bucket: "my-bucket"
          region: "us-east-1"
        credentials:
          key: "AKIAIOSFODNN7EXAMPLE"
          secret: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
    DestinationGCPPubSub:
      type: object
      x-docs-type: "GCP PubSub"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [gcp_pubsub]
          example: "gcp_pubsub"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/GCPPubSubConfig"
        credentials:
          $ref: "#/components/schemas/GCPPubSubCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (project/topic). Read-only.
          readOnly: true
          example: "my-project-123/events-topic"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the destination target (GCP Console link to the topic). Read-only.
          readOnly: true
          example: "https://console.cloud.google.com/cloudpubsub/topic/detail/events-topic?project=my-project-123"
      example:
        id: "des_gcp_pubsub_123"
        type: "gcp_pubsub"
        topics: ["order.created", "order.updated"]
        disabled_at: null
        created_at: "2024-03-10T14:30:00Z"
        updated_at: "2024-03-10T14:30:00Z"
        config:
          project_id: "my-project-123"
          topic: "events-topic"
        credentials:
          service_account_json: '{"type":"service_account","project_id":"my-project-123",...}'
    DestinationKafka:
      type: object
      x-docs-type: "Apache Kafka"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [kafka]
          example: "kafka"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/KafkaConfig"
        credentials:
          $ref: "#/components/schemas/KafkaCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (broker and topic). Read-only.
          readOnly: true
          example: "broker1.example.com:9092 / events"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the destination target. Read-only.
          readOnly: true
          example: null
      example:
        id: "des_kafka_123"
        type: "kafka"
        topics: ["order.created", "order.updated"]
        disabled_at: null
        created_at: "2024-03-10T14:30:00Z"
        updated_at: "2024-03-10T14:30:00Z"
        config:
          brokers: "broker1.example.com:9092,broker2.example.com:9092"
          topic: "events"
          sasl_mechanism: "scram-sha-256"
          tls: "true"
        credentials:
          username: "outpost"
          password: "secure_password_123"

    DestinationCloudflareQueues:
      type: object
      x-docs-type: "Cloudflare Queues"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [cloudflare_queues]
          example: "cloudflare_queues"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/CloudflareQueuesConfig"
        credentials:
          $ref: "#/components/schemas/CloudflareQueuesCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (Cloudflare Queue ID). Read-only.
          readOnly: true
          example: "9d7d4cf8a3a14d9aaeb50c3e74e2f4b1"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the Cloudflare dashboard queues list for the account. Read-only.
          readOnly: true
          example: "https://dash.cloudflare.com/023e105f4ecef8ad9ca31a8372d0c353/workers/queues"
      example:
        id: "des_cf_queues_123"
        type: "cloudflare_queues"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-03-10T14:30:00Z"
        updated_at: "2024-03-10T14:30:00Z"
        config:
          account_id: "023e105f4ecef8ad9ca31a8372d0c353"
          queue_id: "9d7d4cf8a3a14d9aaeb50c3e74e2f4b1"
        credentials:
          api_token: "v1.0-1234567890abcdef..."

    DestinationAWSEventBridge:
      type: object
      x-docs-type: "AWS EventBridge"
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: Control plane generated ID or user provided ID for the destination.
          example: "des_12345"
        type:
          type: string
          description: Type of the destination.
          enum: [aws_eventbridge]
          example: "aws_eventbridge"
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the destination was disabled, or null if enabled.
          example: null
        created_at:
          type: string
          format: date-time
          description: ISO Date when the destination was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the destination was last updated.
          example: "2024-01-01T00:00:00Z"
        config:
          $ref: "#/components/schemas/AWSEventBridgeConfig"
        credentials:
          $ref: "#/components/schemas/AWSEventBridgeCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        target:
          type: string
          description: A human-readable representation of the destination target (event bus name and region, or the event bus ARN). Read-only.
          readOnly: true
          example: "my-event-bus in us-east-1"
        target_url:
          type: string
          format: url
          nullable: true
          description: A URL link to the destination target (AWS Console link to the event bus). Null when the event bus is given as an ARN. Read-only.
          readOnly: true
          example: "https://us-east-1.console.aws.amazon.com/events/home?region=us-east-1#/eventbus/my-event-bus"
      example:
        id: "des_evb_123"
        type: "aws_eventbridge"
        topics: ["*"]
        disabled_at: null
        created_at: "2024-03-10T14:30:00Z"
        updated_at: "2024-03-10T14:30:00Z"
        config:
          event_bus_name: "my-event-bus"
          region: "us-east-1"
        credentials:
          key: "AKIAIOSFODNN7EXAMPLE"
          secret: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"

    DestinationMCP:
      type: object
      x-docs-type: "MCP"
      description: An MCP Events subscription. It is created, refreshed and deleted through the MCP endpoints, and returned by API v2 only. See [MCP destination](https://hookdeck.com/docs/outpost/destinations/mcp).
      # Properties duplicated from DestinationBase
      required:
        [
          id,
          type,
          topics,
          config,
          credentials,
          created_at,
          updated_at,
          disabled_at,
        ]
      properties:
        id:
          type: string
          description: The subscription ID, `sub_` followed by 32 hex characters derived from the principal, callback URL, event name and arguments. Unique within the tenant.
          example: "sub_1fa69bec3707ee16223ae5400f92f935"
        type:
          type: string
          description: Type of the destination.
          enum: [mcp]
          example: "mcp"
        topics:
          type: array
          items:
            type: string
          description: The subscribed event name, as the only topic.
          example: ["order.created"]
        filter:
          $ref: "#/components/schemas/Filter"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: ISO Date when the subscription was auto-disabled, or null if enabled. A refresh or `PUT .../enable` re-enables it.
          example: null
        expires_at:
          type: string
          format: date-time
          description: When the subscription expires unless the MCP client refreshes it. Outpost makes no delivery attempt after it, and deletes the subscription shortly after. Omitted for a subscription granted no expiry (`MCP_ALLOW_NO_EXPIRY`).
          example: "2026-10-09T18:00:00.123Z"
        created_at:
          type: string
          format: date-time
          description: ISO Date when the subscription was created. A refresh keeps it.
          example: "2026-10-09T17:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO Date when the subscription was last updated.
          example: "2026-10-09T17:00:00Z"
        config:
          $ref: "#/components/schemas/MCPConfig"
        credentials:
          $ref: "#/components/schemas/MCPCredentials"
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: The `metadata` passed to the subscribe endpoint.
          example: { "plugin": "chatgpt" }
        target:
          type: string
          description: A human-readable representation of the destination target (the callback URL host). Read-only.
          readOnly: true
          example: "receiver.example.com"
        target_url:
          type: string
          format: url
          nullable: true
          description: The callback URL. Read-only.
          readOnly: true
          example: "https://receiver.example.com/mcp-events/abc123"
      example:
        id: "sub_1fa69bec3707ee16223ae5400f92f935"
        type: "mcp"
        topics: ["order.created"]
        filter:
          data:
            total:
              $gte: 100
            currency: "USD"
        disabled_at: null
        expires_at: "2026-10-09T18:00:00.123Z"
        created_at: "2026-10-09T17:00:00Z"
        updated_at: "2026-10-09T17:00:00Z"
        config:
          url: "https://receiver.example.com/mcp-events/abc123"
          subscription_id: "sub_1fa69bec3707ee16223ae5400f92f935"
          principal: "user_8f2c"
          event: "order.created"
          arguments: '{"currency":"USD","total":{"$gte":100}}'
          schema_hash: "8bdecd62e9fd5024a655cfb867d4bfd67293264c9529691be1727e6057dd52d6"
        credentials:
          secret: "whse**********************************************"

    # Polymorphic Destination Schema (for Responses)
    Destination:
      oneOf:
        - $ref: "#/components/schemas/DestinationWebhook"
        - $ref: "#/components/schemas/DestinationHookdeck"
        - $ref: "#/components/schemas/DestinationAWSSQS"
        - $ref: "#/components/schemas/DestinationAWSKinesis"
        - $ref: "#/components/schemas/DestinationAWSS3"
        - $ref: "#/components/schemas/DestinationRabbitMQ"
        - $ref: "#/components/schemas/DestinationAzureServiceBus"
        - $ref: "#/components/schemas/DestinationGCPPubSub"
        - $ref: "#/components/schemas/DestinationKafka"
        - $ref: "#/components/schemas/DestinationCloudflareQueues"
        - $ref: "#/components/schemas/DestinationAWSEventBridge"
        - $ref: "#/components/schemas/DestinationMCP"
      discriminator:
        propertyName: type
        mapping:
          webhook: "#/components/schemas/DestinationWebhook"
          aws_sqs: "#/components/schemas/DestinationAWSSQS"
          rabbitmq: "#/components/schemas/DestinationRabbitMQ"
          hookdeck: "#/components/schemas/DestinationHookdeck"
          aws_kinesis: "#/components/schemas/DestinationAWSKinesis"
          azure_servicebus: "#/components/schemas/DestinationAzureServiceBus"
          aws_s3: "#/components/schemas/DestinationAWSS3"
          gcp_pubsub: "#/components/schemas/DestinationGCPPubSub"
          kafka: "#/components/schemas/DestinationKafka"
          cloudflare_queues: "#/components/schemas/DestinationCloudflareQueues"
          aws_eventbridge: "#/components/schemas/DestinationAWSEventBridge"
          mcp: "#/components/schemas/DestinationMCP"

    DestinationCreateWebhook:
      type: object
      x-docs-type: "Webhook"
      required: [type, topics, config]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'webhook'.
          enum: [webhook]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/WebhookConfig"
        credentials:
          # Secret is optional on create for admin, forbidden for tenant
          $ref: "#/components/schemas/WebhookCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateAWSSQS:
      type: object
      x-docs-type: "AWS SQS"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'aws_sqs'.
          enum: [aws_sqs]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSSQSConfig"
        credentials:
          $ref: "#/components/schemas/AWSSQSCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateRabbitMQ:
      type: object
      x-docs-type: "RabbitMQ"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'rabbitmq'.
          enum: [rabbitmq]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/RabbitMQConfig"
        credentials:
          $ref: "#/components/schemas/RabbitMQCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateHookdeck:
      type: object
      x-docs-type: "Hookdeck Event Gateway"
      required: [type, topics, credentials] # No config
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'hookdeck'.
          enum: [hookdeck]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config: {}
        credentials:
          $ref: "#/components/schemas/HookdeckCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateAWSKinesis:
      type: object
      x-docs-type: "AWS Kinesis"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'aws_kinesis'.
          enum: [aws_kinesis]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSKinesisConfig"
        credentials:
          $ref: "#/components/schemas/AWSKinesisCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null

    DestinationCreateAzureServiceBus:
      type: object
      x-docs-type: "Azure Service Bus"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'azure_servicebus'.
          enum: [azure_servicebus]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AzureServiceBusConfig"
        credentials:
          $ref: "#/components/schemas/AzureServiceBusCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null

    DestinationCreateAWSS3:
      type: object
      x-docs-type: "AWS S3"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'aws_s3'.
          enum: [aws_s3]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSS3Config"
        credentials:
          $ref: "#/components/schemas/AWSS3Credentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateGCPPubSub:
      type: object
      x-docs-type: "GCP PubSub"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'gcp_pubsub'.
          enum: [gcp_pubsub]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/GCPPubSubConfig"
        credentials:
          $ref: "#/components/schemas/GCPPubSubCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateKafka:
      type: object
      x-docs-type: "Apache Kafka"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'kafka'.
          enum: [kafka]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/KafkaConfig"
        credentials:
          $ref: "#/components/schemas/KafkaCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateCloudflareQueues:
      type: object
      x-docs-type: "Cloudflare Queues"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'cloudflare_queues'.
          enum: [cloudflare_queues]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/CloudflareQueuesConfig"
        credentials:
          $ref: "#/components/schemas/CloudflareQueuesCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null
    DestinationCreateAWSEventBridge:
      type: object
      x-docs-type: "AWS EventBridge"
      required: [type, topics, config, credentials]
      properties:
        id:
          type: string
          description: Optional user-provided ID. An ID will be generated if empty.
          example: "user-provided-id"
        type:
          type: string
          description: Type of the destination. Must be 'aws_eventbridge'.
          enum: [aws_eventbridge]
        topics:
          $ref: "#/components/schemas/Topics"
        filter:
          $ref: "#/components/schemas/Filter"
        config:
          $ref: "#/components/schemas/AWSEventBridgeConfig"
        credentials:
          $ref: "#/components/schemas/AWSEventBridgeCredentials"
        delivery_metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Static key-value pairs merged into event metadata on every attempt.
          example: { "app-id": "my-app", "region": "us-east-1" }
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Arbitrary contextual information stored with the destination.
          example: { "internal-id": "123", "team": "platform" }
        created_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the creation timestamp. Intended for importing
            destinations from another system. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to the current time when omitted.
          example: "2024-02-15T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            Optional override for the last-updated timestamp. Intended for
            importing destinations. Must not be in the future.
            **Admin (API key) auth only — sending this with JWT auth returns 403.**
            Defaults to created_at when omitted.
          example: "2024-02-15T10:00:00Z"
        disabled_at:
          type: string
          format: date-time
          nullable: true
          description: >-
            If set, the destination is created in a disabled state with this
            timestamp. Must not be in the future. Defaults to null (enabled).
          example: null

    # Polymorphic Destination Creation Schema (for Request Bodies)
    DestinationCreate:
      oneOf:
        - $ref: "#/components/schemas/DestinationCreateWebhook"
        - $ref: "#/components/schemas/DestinationCreateHookdeck"
        - $ref: "#/components/schemas/DestinationCreateAWSSQS"
        - $ref: "#/components/schemas/DestinationCreateAWSKinesis"
        - $ref: "#/components/schemas/DestinationCreateAWSS3"
        - $ref: "#/components/schemas/DestinationCreateAzureServiceBus"
        - $ref: "#/components/schemas/DestinationCreateRabbitMQ"
        - $ref: "#/components/schemas/DestinationCreateGCPPubSub"
        - $ref: "#/components/schemas/DestinationCreateKafka"
        - $ref: "#/components/schemas/DestinationCreateCloudflareQueues"
        - $ref: "#/components/schemas/DestinationCreateAWSEventBridge"
      discriminator:
        propertyName: type
        mapping:
          webhook: "#/components/schemas/DestinationCreateWebhook"
          aws_sqs: "#/components/schemas/DestinationCreateAWSSQS"
          rabbitmq: "#/components/schemas/DestinationCreateRabbitMQ"
          hookdeck: "#/components/schemas/DestinationCreateHookdeck"
          aws_kinesis: "#/components/schemas/DestinationCreateAWSKinesis"
          azure_servicebus: "#/components/schemas/DestinationCreateAzureServiceBus"
          aws_s3: "#/components/schemas/DestinationCreateAWSS3"
          gcp_pubsub: "#/components/schemas/DestinationCreateGCPPubSub"
          kafka: "#/components/schemas/DestinationCreateKafka"
          cloudflare_queues: "#/components/schemas/DestinationCreateCloudflareQueues"
          aws_eventbridge: "#/components/schemas/DestinationCreateAWSEventBridge"

    # Type-Specific Destination Update Schemas (for Request Bodies)
    # Type-Specific Partial Schemas for PATCH Request Bodies
    # All fields are optional — RFC 7396 JSON merge-patch semantics apply:
    # omit a field to leave it unchanged; include a field to update it in place.
    WebhookConfigUpdate:
      type: object
      description: Partial Webhook config for PATCH updates (RFC 7396 merge-patch).
      properties:
        url:
          type: string
          format: url
          description: The URL to send the webhook events to.
          example: "https://example.com/webhooks/user"
        custom_headers:
          type: string
          description: JSON string of custom HTTP headers to include with every webhook request.
          example: '{"x-api-key":"secret123","x-tenant-id":"customer-456"}'
    WebhookCredentialsUpdate:
      type: object
      description: Partial Webhook credentials for PATCH updates (RFC 7396 merge-patch).
      properties:
        secret:
          type: string
          description: New secret (only allowed for admin).
        previous_secret:
          type: string
          description: Previous secret for rotation (only allowed for admin).
        previous_secret_invalid_at:
          type: string
          format: date-time
          description: Invalidation time for previous secret (only allowed for admin).
        rotate_secret:
          type: boolean
          description: Set to true to rotate the secret. The current secret becomes the previous_secret, and a new secret is generated. `previous_secret_invalid_at` defaults to 24h if not provided.
    AWSSQSConfigUpdate:
      type: object
      description: Partial AWS SQS config for PATCH updates (RFC 7396 merge-patch).
      properties:
        endpoint:
          type: string
          format: url
          description: Optional. Custom AWS endpoint URL (e.g., for LocalStack or specific regions).
          example: "https://sqs.us-east-1.amazonaws.com"
        queue_url:
          type: string
          format: url
          description: The URL of the SQS queue.
          example: "https://sqs.us-east-1.amazonaws.com/123456789012/my-queue"
    AWSSQSCredentialsUpdate:
      type: object
      description: Partial AWS SQS credentials for PATCH updates (RFC 7396 merge-patch).
      properties:
        key:
          type: string
          description: AWS Access Key ID.
        secret:
          type: string
          description: AWS Secret Access Key.
        session:
          type: string
          description: Optional AWS Session Token (for temporary credentials).
    RabbitMQConfigUpdate:
      type: object
      description: Partial RabbitMQ config for PATCH updates (RFC 7396 merge-patch).
      properties:
        server_url:
          type: string
          description: RabbitMQ server address (host:port).
        exchange:
          type: string
          description: The exchange to publish messages to.
        tls:
          type: string
          enum: ["true", "false"]
          description: Whether to use TLS connection (amqps).
    RabbitMQCredentialsUpdate:
      type: object
      description: Partial RabbitMQ credentials for PATCH updates (RFC 7396 merge-patch).
      properties:
        username:
          type: string
          description: RabbitMQ username.
        password:
          type: string
          description: RabbitMQ password.
    HookdeckCredentialsUpdate:
      type: object
      description: Partial Hookdeck credentials for PATCH updates (RFC 7396 merge-patch).
      properties:
        token:
          type: string
          description: Hookdeck authentication token.
    AWSKinesisConfigUpdate:
      type: object
      description: Partial AWS Kinesis config for PATCH updates (RFC 7396 merge-patch).
      properties:
        stream_name:
          type: string
          description: The name of the AWS Kinesis stream.
        region:
          type: string
[...]
