.metrics-chart {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    margin-bottom: var(--spacing-4);
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--colors-foreground-neutral);
  }

  &__subtitle {
    font-weight: 400;
    color: var(--colors-foreground-neutral-3);
  }

  &__body {
    flex: 1;
    min-height: 0;
  }

  &__empty,
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--colors-foreground-neutral-3);
    font-size: 14px;
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
