.destination-config-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  label {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: 500;
    color: var(--colors-foreground-neutral-2);

    .required {
      color: var(--colors-foreground-danger);
    }
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    input {
      flex: 1;
    }

    &:has(button) {
      input {
        padding-right: var(--spacing-10);
      }
    }

    button {
      position: absolute;
      right: 0;
      border: none;
      border-left: 1px solid var(--colors-outline-neutral);
      padding: var(--spacing-2);
      background: none;
      cursor: pointer;
      line-height: 0;
      svg {
        width: 16px;
        height: 16px;
        fill: var(--colors-foreground-neutral-2);
      }

      &:hover {
        svg {
          fill: var(--colors-foreground-neutral);
        }
      }
    }
  }

  .description {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: var(--colors-foreground-neutral-3);
    margin-top: 0;
    margin-bottom: var(--spacing-4);
  }
}

.config-guide-button {
  margin-bottom: var(--spacing-6);
}
