.destination-deliveries {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-20);

  h2 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    justify-content: space-between;

    &-filters {
      display: flex;
      align-items: center;
      gap: var(--spacing-3);
    }

    &-title .badge {
      color: currentColor;
    }
  }

  &__table {
    margin-top: var(--spacing-4);
    position: relative;
    display: grid;
    min-height: 713px;

    .delivery-time-cell {
      text-transform: uppercase;
    }

    .table {
      height: 100%;

      &__body-cell > * {
        padding: var(--spacing-3) var(--spacing-4);

        .button__minimal {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-2);

        nav {
          display: flex;
          align-items: center;
          gap: var(--spacing-2);
        }
      }

      [data-active="true"] {
        box-shadow: inset 0 0 0 2px var(--colors-outline-primary-focus);
        background-color: var(--colors-background-container-primary);
      }
    }

    &--active {
      grid-template-columns: 1fr 516px;

      .table {
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .drawer {
        height: 100%;
        overflow: auto;
        display: grid;
        grid-template-rows: auto 1fr;
        border: 1px solid var(--colors-outline-neutral);
        border-top-right-radius: var(--radius-m);
        border-bottom-right-radius: var(--radius-m);

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: var(--spacing-2);
          padding: var(--spacing-5) var(--spacing-6);

          &-tabs {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);

            button.button__minimal {
              padding: var(--spacing-1) var(--spacing-2);

              &.active {
                background-color: var(--colors-background-neutral-2);

                > span {
                  color: var(--colors-foreground-neutral);
                }
              }
            }
          }

          &-actions {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
          }
        }

        &__body {
          overflow: auto;
          min-height: 0;
        }
      }
    }
  }
}

.delivery-data {
  height: 100%;
  box-sizing: border-box;

  &__overview,
  &__event {
    padding: var(--spacing-3) var(--spacing-6);
    border-bottom: 1px solid var(--colors-outline-neutral);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__data,
  &__metadata,
  &__response {
    padding: var(--spacing-3) var(--spacing-6);
    border-bottom: 1px solid var(--colors-outline-neutral);
    background-color: var(--colors-background-neutral-2);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    pre {
      white-space: break-spaces;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &__response {
    border-bottom: none;
  }
}

dl.description-list {
  margin-top: 0;
  margin-bottom: 0;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-2);
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
    border-bottom: 1px solid var(--colors-outline-neutral);

    &:last-child {
      border-bottom: none;
    }

    dt {
      color: var(--colors-foreground-neutral-2);
    }

    dd.time {
      text-transform: uppercase;
    }
  }
}
