name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.0'

      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Run unit tests
        run: gotestsum --rerun-fails=2 --hide-summary=skipped --packages="./..." -- -short