apiVersion: v1
kind: Service
metadata:
  name: outpost-redis-master
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    app: outpost-redis
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: outpost-redis
spec:
  serviceName: outpost-redis-master
  replicas: 1
  selector:
    matchLabels:
      app: outpost-redis
  template:
    metadata:
      labels:
        app: outpost-redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        command:
        - redis-server
        - --requirepass
        - $(REDIS_PASSWORD)
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: outpost-redis
              key: redis-password
        ports:
        - containerPort: 6379
          name: redis
        volumeMounts:
        - name: data
          mountPath: /data
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - redis-cli -a "${REDIS_PASSWORD}" ping
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - redis-cli -a "${REDIS_PASSWORD}" ping
          initialDelaySeconds: 5
          periodSeconds: 5
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 8Gi